/* Estilos globales */
body {
    background-color: #f6f8fa;
    color: #24292e;
    font-family: "Spline Sans", sans-serif;
  }
  
  h1 {
    color: #24292e;
  }
  
  .module {
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    padding: 20px;
    margin-top: 20px;
  }
  
  .container {
    margin-top: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="submit"] {
    background-color: #238636;
    border: none;
    color: #c9d1d9;
    padding: 10px 20px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #2ea043;
  }

  p {
    margin-bottom: 10px;
  }

  /* Estilos para el tema oscuro */
  body.dark-theme {
    background-color: #0d1117;
    color: #c9d1d9;
  }

  h1.dark-theme {
    color: #c9d1d9;
  }

  .module.dark-theme {
    background-color: #161b22;
    border-color: #30363d;
  }

  .container.dark-theme {
    margin-top: 10px;
  }

  form.dark-theme {
    margin-top: 20px;
  }

  input[type="text"].dark-theme,
  input[type="password"].dark-theme {
    background-color: #0d1117;
    color: #c9d1d9;
    border: 1px solid #30363d;
  }

  input[type="submit"].dark-theme {
    background-color: #238636;
    color: #c9d1d9;
  }

  input[type="submit"].dark-theme:hover {
    background-color: #2ea043;
  }

  p.dark-theme {
    margin-bottom: 10px;
    color: #f85149;
  }