<html lang="es"> 
<head>
  <meta charset="UTF-8">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNS15U6" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Restaurantes cerca de ti</title>
  
  <style>
    .navbar {
      z-index: 9999; /* Establece una posición z elevada para que la barra de navegación aparezca por encima de todo */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../static/images/thefork.png" alt="The Fork Logo" width="100" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="localization/">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reservation/">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login/">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup/">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <h1>Restaurantes cerca de ti</h1>
  </header>

  <main>
    <section>
      <h1>Restaurants List</h1>
      {% if restaurants %}
        <ul>
        {% for restaurant in restaurants %}
          <li>{{ restaurant.name }}</li>
          <li>{{ restaurant.phone }}</li>
          <li>{{ restaurant.email }}</li>
          <li>{{ restaurant.website }}</li>
          <li>{{ restaurant.id_localization.address }}, {{ restaurant.id_localization.name }}</li>
          <p></p>
        {% endfor %}
        </ul>
      {% else %}
        <p>No registered restaurants</p>
      {% endif %}
    </section>
  </main>

  <footer>
    <p>Derechos de autor 2023 - Restaurantes cerca de ti</p>
  </footer>
</body>
</html>


