<!DOCTYPE html>
<html>
<head>
	<title>Restaurants List</title>
</head>
<body>
	<h1>Restaurants List</h1>
	{% if restaurants %}
		<ul>
		{% for restaurant in restaurants %}
			<li>{{ restaurant.name }}</li>
			<li>{{ restaurant.phone }}</li>
			<li>{{ restaurant.email }}</li>
			<li>{{ restaurant.website }}</li>
			<li>{{ restaurant.id_localization.address }}, {{ restaurant.id_localization.name }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No registered restaurants</p>
	{% endif %}
</body>
</html>