{% block content %}
    <h1>Create a new order</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="fecha">Date:</label>
            <input type="date" class="form-control" name="fecha" required>

        <div class="form-group">
             <label for="people_num">Number of People:</label>
             <input type="text" class="form-control" name="people_num" required>


        <div class="form-group">
            <label for="id_restaurant">Restaurant ID:</label>
            <input type="number" class="form-control" name="id_restaurant" required>


        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}