{% extends 'base.html' %}

{% block content %}
    <h1>Create a new order</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- show all the menus of all the restaurants-->

        <div class="form-group">
            <label for="restaurant">Restaurant:</label>
            <select name="restaurant" class="form-control">
                {% for restaurant in restaurants %}
                    <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                {% endfor %}
            </select>
        </div>

    
        <div class="form-group">
            <label for="nameofclient">Nombre:</label>
            <input type="text" class="form-control" name="nameofclient" required>
        </div>

        <div class="form-group">
            <label for="adress">Dirección:</label>
            <input type="text" class="form-control" name="adress" required>
        </div>

        
        <div class="form-group">
            <label for="menu_num">Menu elegido:</label>
            <input type="text" class="form-control" name="menu_num" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}
