<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin-top: 80px;
    }
  </style>
  <title>My Bits Project Home Page</title>
  <!-- Boostrap Css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Remix Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- Style Css -->
  <link rel="stylesheet" href="../../static/css/style.css">

  <!-- Map API -->
  <title>Center map based on visitor's location</title>
  <script src="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.umd.min.js"></script>
  <link href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css" rel="stylesheet" />
  <style>
    body { margin: 0; padding: 0; }
    #map { position: relative; height:900px; width: 100%; 
    }
    section {
        margin: 15px;
      }
      footer {
        margin-top: 50px;
      }
    
  </style>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyBits</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#heroSlider"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about_us/"> About Us </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="book/mybooks/"> My bookings </a>
          </li>

        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-but">
            <a id="booking-button" class="btn btn-outline-light" href="book/create/"> Booking Restaurant </a>
          </li>
          <li class="nav-but">
            <a class="btn btn-outline-light" href="logout/"> Log Out </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  

  <!-- Map API -->
  <div id="map"></div>

  <script>
    var restaurants = [
        {% for restaurant in restaurants %}
        {
            'type': 'Feature',
            'properties': {
              'description': '<strong>{{restaurant.name}}</strong><p>Telefono:{{restaurant.phone }}</p><p>Mail:{{restaurant.email }}</p><p>Web:{{restaurant.website }}</p><a href="/restaurant/{{restaurant.id_restaurant}}/">Ver más</a>'

            },
            'geometry': {
                'type': 'Point',
                'coordinates': [{{ restaurant.latitude }}, {{ restaurant.longitude }}]
            }
        },
        {% endfor %}
    ];
  </script>

  <script>
    maptilersdk.config.apiKey = '0QBDko4qhpzabIA4ZV39';
    var map = new maptilersdk.Map({
        container: 'map',
        style: maptilersdk.MapStyle.STREETS,
        geolocate: maptilersdk.GeolocationType.POINT,
        terrain:true,
        showUserLocation:true

    });

  

    map.on('load', function () {
        map.loadImage(
            'https://docs.maptiler.com/sdk-js/assets/custom_marker.png',
            // Add an image to use as a custom marker
            function (error, image) {
                if (error) throw error;
                map.addImage('custom-marker', image);
                map.scrollZoom.disable();
                map.boxZoom.disable();
                map.addControl(new maptilersdk.FullscreenControl({container: document.querySelector('body')}));
                map.addSource('places', {
                  'type': 'geojson',
                  'data': {
                      'type': 'FeatureCollection',
                      'features': restaurants
                  }
              });


                // Add a layer showing the places.
                map.addLayer({
                    'id': 'places',
                    'type': 'symbol',
                    'source': 'places',
                    'layout': {
                        'icon-image': 'custom-marker',
                        'icon-overlap': 'always'
                    }
                });
                map.addControl(new maptilersdk.MaptilerGeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                    trackUserLocation: true
                  }), 'top-left');
            }
        );

        map.on('click', 'symbols', function (e) {
            map.flyTo({
                center: e.features[0].geometry.coordinates
            });
        });

        // Create a popup, but don't add it to the map yet.
        var popup = new maptilersdk.Popup({
            closeButton: true,
            closeOnClick: false
        });

        map.on('mouseenter', 'places', function (e) {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            var coordinates = e.features[0].geometry.coordinates.slice();
            var description = e.features[0].properties.description;

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates).setHTML(description).addTo(map);
        });



        map.on('mouseleave', 'places', function () {
            map.getCanvas().style.cursor = '';
        });
    });
</script>

<main>
  <section>
      <h1>Nuestros restaurantes</h1>
      <h2>La selección de los mejores restaurantes en todo el mundo.</h2>
      {% if restaurants %}
          <ul class="restaurant-list">
              {% for restaurant in restaurants %}
                  <li>
                      <div class="restaurant-box">
                          <h3><a href="/restaurant/{{ restaurant.id_restaurant }}/">{{ restaurant.name }}</a></h3>
                          <p>Telefono: <a href="tel:{{ restaurant.phone }}">{{ restaurant.phone }}</a></p>
                          <p>Mail: <a href="mailto:{{ restaurant.email }}">{{ restaurant.email }}</a></p>
                          <p>Web: <a href="{{ restaurant.website }}">{{ restaurant.website }}</a></p>
                      </div>
                  </li>
              {% endfor %}
          </ul>
      {% else %}
          <p>No hay restaurantes registrados.</p>
      {% endif %}
  </section>
</main>





  <!-- footer -->
 
  <footer>
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4">
                    <img src="../static/images/Qrispy_white.svg" class="mb-4" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit architecto unde
                        magnam.</p>
                    <div class="social-links">
                        <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                        <a href="#"><i class="ri-instagram-fill"></i></a>
                        <a href="#"><i class="ri-youtube-fill"></i></a>
                        <a href="https://github.com/poltriquell/MyBits_Web_Project"><i class="ri-github-fill"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 me-auto">
                    <h6 class="text-white mb-4">CONTACTE</h6>
                    <p class="mb-1">P:(34) 678 90 12 34</p>
                    <p class="mb-1">E:mybits_web_project@mybits.es</p>
                    <p class="mb-0">A: C/ Jaume II, 69, Aula 1.01 (Alcatel), 25001 Lleida</p>
                </div>
                <div class="col-lg-3">
                    <h6 class="text-white mb-4">HORARIS</h6>
                    <p class="mb-1">Dilluns-Divendres : 08:00 - 22:00</p>
                    <p>Dissabte-Diumenge : 08:00 - 22:00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row gy-3 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">Copyrights all rights reserved</p>
                </div>
                <div class="col-auto">
                    <p class="mb-0">Designed For <a
                            href="https://github.com/poltriquell/MyBits_Web_Project">Web Project Subject</a></p>
                </div>
            </div>
        </div>
    </div>
  </footer>

  <!-- Bootstrap Bundle Js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>

</body>
</html>


