<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin-top: 80px;
    }
  </style>

  <title>My Bits - Bootstrap Landing Page</title>
  
  <!-- Boostrap Css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Remix Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  
  <!-- Style Css -->
  <link rel="stylesheet" href="../../static/css/style.css">

  <!-- Map API -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.umd.js"></script>
  <link href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css" rel="stylesheet" />
  <style>
    body { margin: 0; padding: 0; }
    #map { position: relative; height:500px; width: 100%;}
  </style>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

  <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#heroSlider"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about_us/"> About Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="reservation/"> Reservation </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features"> Features </a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-but">
            <a class="btn btn-outline-light" href="accounts/signup"> Sign Up </a>
          </li>
          <li class="nav-but">
            <a class="btn btn-outline-light" href="accounts/login"> Log In </a>
          </li>
          <li class="nav-but">
            <a class="btn btn-outline-light" href="accounts/login"> Prova form user </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Hero Slider -->
  <div id="heroSlider" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

          <div class="carousel-item text-center bg-cover vh-100 active slide-1">
              <div class="container h-100 d-flex align-items-center justify-content-center">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <h6 class="text-white"> WELCOME TO MY BITS</h6>
                          <h1 class="display-1 my-3 fw-bold text-white"> Char-grilled and flavor-filled </h1>
                          <a href="reservation/" class="btn btn-brand"> Reservation </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="carousel-item text-center bg-cover vh-100 slide-2">
              <div class="container h-100 d-flex align-items-center justify-content-center">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <h6 class="text-white"> WELCOME TO MY BITS</h6>
                          <h1 class="display-1 my-3 fw-bold text-white"> Fresh & Tasty Food </h1>
                          <a href="reservation/" class="btn btn-brand"> Reservation </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"> Previous </span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"> Next </span>
      </button>
  </div>

  <header>
    <h1>Restaurantes cerca de ti</h1>
  </header>

  <main>
    <section>
      <h1>Restaurants List</h1>
      {% if restaurants %}
        <ul>
        {% for restaurant in restaurants %}
          <li>{{ restaurant.name }}</li>
          <li>{{ restaurant.phone }}</li>
          <li>{{ restaurant.email }}</li>
          <li>{{ restaurant.website }}</li>
          <li>{{ restaurant.id_localization.address }}, {{ restaurant.id_localization.name }}</li>
          <p></p>
        {% endfor %}
        </ul>
      {% else %}
        <p>No registered restaurants</p>
      {% endif %}
    </section>
  </main>

  
  <main>
    <section id="hero">
      <div class="container">
        <h1>Discover the best restaurants near you</h1>
        <form>
          <label for="location">Where</label>
          <input type="text" id="location" placeholder="City or ZIP code">
          <button type="submit">Search</button>
        </form>
      </div>
    </section>

    <section id="popular">
      <div class="container">
        <h2>Popular cities</h2>
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?paris" alt="Paris">
          <h3>Paris</h3>
        </div>
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?new-york" alt="New York">
          <h3>New York</h3>
        </div>
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?tokyo" alt="Tokyo">
          <h3>Tokyo</h3>
        </div>
      </div>
    </section>
    <p></p>
    <section id="discover">
      <div class="container">
        <h2>Discover new restaurants</h2>
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?restaurant" alt="Restaurant">
          <h3>La Belle Epoque</h3>
          <p>French cuisine</p>
          <button>Book a table</button>
        </div>
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?dinner" alt="Dinner">
          <h3>The Smokehouse</h3>
          <p>American cuisine</p>
          <button>Book a table</button>
        </div>
        <div class="card">
          <img src="https://source.unsplash.com/800x600/?sushi" alt="Sushi">
          <h3>Sushi Saito</h3>
          <p>Japanese cuisine</p>
          <button>Book a table</button>
        </div>
      </div>
    </section>
  </main>

  <!-- Map API -->
  <style>
    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Spline Sans', sans-serif;
      overflow:hidden;
      padding-bottom:56.25%;
      position:static;
      height:0;
    }
  </style>
  <div id="map"></div>
  <script src="../static/js/map_script.js"></script>

  <!-- Discover best restaurants -->
  <div>
    <h2>Discover the best restaurants with MyBits</h2>
    <p>At MyBits, we offer you a selection of over 60,000 restaurants throughout Spain, with the best promotions available for booking at any time. You can also rely on our 20 million verified reviews to help you find the perfect restaurant for you.</p>
    <p>Whether you're looking for the trendiest restaurants in Madrid, an authentic Japanese restaurant in Barcelona, the best rice dishes in Valencia, or a romantic dinner in any city, MyBits has a wide variety of options for all tastes.</p>
    <p>Don't miss the chance to book a restaurant for Valentine's Day in Barcelona or any other city you find yourself in. Find the best restaurants on MyBits and enjoy a unique gastronomic experience!</p>
  </div>

  <!-- footer -->
  <footer class="bg-cover">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4">
                    <img src="../static/images/Qrispy_white.svg" class="mb-4" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit architecto unde
                        magnam.</p>
                    <div class="social-links">
                        <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                        <a href="#"><i class="ri-instagram-fill"></i></a>
                        <a href="#"><i class="ri-youtube-fill"></i></a>
                        <a href="https://github.com/poltriquell/MyBits_Web_Project"><i class="ri-github-fill"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 me-auto">
                    <h6 class="text-white mb-4">CONTACTE</h6>
                    <p class="mb-1">P:(34) 678 90 12 34</p>
                    <p class="mb-1">E:mybits_web_project@mybits.es</p>
                    <p class="mb-0">A: C/ Jaume II, 69, Aula 1.01 (Alcatel), 25001 Lleida</p>
                </div>
                <div class="col-lg-3">
                    <h6 class="text-white mb-4">HORARIS</h6>
                    <p class="mb-1">Dilluns-Divendres : 08:00 - 22:00</p>
                    <p>Dissabte-Diumenge : 08:00 - 22:00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row gy-3 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">Copyrights all rights reserved</p>
                </div>
                <div class="col-auto">
                    <p class="mb-0">Designed For <a
                            href="https://github.com/poltriquell/MyBits_Web_Project">Web Project Subject</a></p>
                </div>
            </div>
        </div>
    </div>
  </footer>

  <!-- Bootstrap Bundle Js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>

</body>
</html>


