{% extends './base.html' %}

{% block content %}
    <h1>Add Order</h1>
    <form method="post">
        {% csrf_token %}
        <label for="restaurant">Select Restaurant:</label>
        <select name="restaurant" id="restaurant" onchange="showProducts()">
            {% for restaurant in restaurants %}
            <option value="{{ restaurant.id_restaurant }}" {% if forloop.first %}selected{% endif %}>{{ restaurant.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="products">Select Products:</label>
        <br>
        {% for restaurant in restaurants %}
        <div class="product restaurant-{{ restaurant.id_restaurant }}">
            <h3>{{ restaurant.name }}</h3>
            {% for product in restaurant.product_set.all %}
            <input type="checkbox" name="products" value="{{ product.id_producto }}">{{ product.name }} - Price: {{ product.price }}€<br>
            Quantity: <input type="number" name="quantity_{{ product.id_producto }}" value="1" min="1">
            <br><br>
            {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" value="Add Order">
    </form>
    
    <script>
        // Función para mostrar solo los productos del restaurante seleccionado
        function showProducts() {
            var restaurantSelect = document.getElementById("restaurant");
            var selectedRestaurantId = restaurantSelect.value;
            var products = document.getElementsByClassName("product");

            // Ocultar todos los productos
            for (var i = 0; i < products.length; i++) {
                products[i].style.display = "none";
            }

            // Mostrar solo los productos del restaurante seleccionado
            var selectedProducts = document.getElementsByClassName("restaurant-" + selectedRestaurantId);
            for (var j = 0; j < selectedProducts.length; j++) {
                selectedProducts[j].style.display = "block";
            }
        }

        // Mostrar los productos del primer restaurante al cargar la página
        window.addEventListener("DOMContentLoaded", function() {
            showProducts();
        });
    </script>
{% endblock %}
