<!DOCTYPE html>
<html>
<head>
	<title>Orders List</title>
</head>
<body>
	<h1>Orders List</h1>
	{% if orders %}
		{% for order in orders %}
			<div>
				<p><strong>Fecha:</strong> {{ order.data }}</p>
				<p><strong>Precio total:</strong> {{ order.total_price }}</p>
				<p><strong>Cliente:</strong> {{ order.id_client.name }}</p>
				<p><strong>Restaurante:</strong> {{ order.id_restaurant.name }}</p>
				<p></p>
			</div>
			<hr>
		{% endfor %}
	{% else %}
		<p>No orders registered in the database.</p>
	{% endif %}

	<h2>Add New Order</h2>
	<form action="/orders" method="post">
		<label for="date">Date:</label>
		<input type="date" id="date" name="date"><br>

		<label for="price">Total Price:</label>
		<input type="number" id="price" name="price"><br>

		<label for="client">Client:</label>
		<input type="text" id="client" name="client"><br>

		<label for="restaurant">Restaurant:</label>
		<input type="text" id="restaurant" name="restaurant"><br>

		<input type="submit" value="Add Order">
	</form>
</body>
</html>
