<main>
    <section>
        <h1>Mis reservas</h1>
        {% if bookings %}
            <ul>
                {% for booking in bookings %}
                    <li>
                        <h3>{{ booking.date }}</h3>
                        <p><strong>Restaurant:</strong> {{ booking.id_restaurant.name }}</p>
                        <p><strong>Date:</strong> {{ booking.date }}</p>
                        <p><strong>People Number:</strong> {{ booking.people_num }}</p>
                        <p><strong>Client:</strong> {{ booking.id_client.name }}</p>
                        <form action="{% url 'book_delete' id_reservation=booking.id_reservation %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete Reservation</button>
                        </form>
                    
                        <form action="{% url 'book_update' id_reservation=booking.id_reservation %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Modify Reservation</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tienes reservas.</p>
        {% endif %}
    </section>
</main>
