<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../../web/static/css/login.css">
<body>
    <div class="module">
        <div class="container">
        <h2>Log In</h2>
        <h3>To see the best restaurants </h3>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username...">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password...">
            <br>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="register/">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
