{% block title %}
    Sign up
{% endblock %}

{% block content %}
  <div class="module">
    <div class="container">
      <h1>
        Sign up
      </h1>
      <p>Enter your details to create an account:</p>
      <form method="post">
        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}
        <br>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        <br>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        <br>
        {{ form.name.label_tag }}
        {{ form.name }}
        <br>
        {{ form.DNI_NIE.label_tag }}
        {{ form.DNI_NIE }}
        <br>
        {{ form.address.label_tag }}
        {{ form.address }}
        <br>
        {{ form.phone.label_tag }}
        {{ form.phone }}
        <br>
        {{ form.email.label_tag }}
        {{ form.email }}
        <br>
        {{ form.card_number.label_tag }}
        {{ form.card_number }}
        <br>

        <p><input type="submit" value="Create my account"></p>
      </form>
    </div>
  </div>
{% endblock %}




{% comment %} <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register New User</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .half-input {
        width: 50%;
      }
      .form-signin {
        margin-right: -15px;
        margin-bottom: 20px;
        margin-left: -15px;
      }
      .d-flex {
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form method="post" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">MyBits Registration</h2>
        <label for="{{ form.name.id_for_label }}" class="sr-only">Name</label>
        {{ form.name }}
        <label for="{{ form.email.id_for_label }}" class="sr-only">Email address</label>
        {{ form.email }}
        <label for="{{ form.phone.id_for_label }}" class="sr-only">Phone</label>
        {{ form.phone }}
        <label for="{{ form.website.id_for_label }}" class="sr-only">Website</label>
        {{ form.website }}
        <label for="{{ form.restaurant_name.id_for_label }}" class="sr-only">Restaurant Name</label>
        {{ form.restaurant_name }}
        <label for="{{ form.password1.id_for_label }}" class="sr-only">Password</label>
        {{ form.password1 }}
        <label for="{{ form.password2.id_for_label }}" class="sr-only">Confirm Password</label>
        {{ form.password2 }}
      </form>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="agree" required> I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html> {% endcomment %}